<mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-select [formControl]="tags" (selectionChange)="doSomething($event)" multiple>
        <mat-select-trigger>
            {{tags.value ? tags.value[0] : ''}}
            <span *ngIf="tags.value?.length > 1" class="example-additional-selection">
                (+{{tags.value.length - 1}} {{tags.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let tag of TagsList" [value]="tag">{{tag}}</mat-option>
    </mat-select>
</mat-form-field>